*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dvContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;  
}
.hdrTop{
    background-image: url("../imagens/Versao2/FundoCima.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-color: black;
    height: 20%;
    text-align: center;
    flex-grow: 1;
} 
.mnSearch{
    height: 60%;
    text-align: center;
    border-width: 0.4vw;
    border-style: ridge;
    Border-color: white; 
    background-color: black;   
    flex-grow: 1;   
}
.sctnSearchInput{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.sctnItems{    
    /* background-image: url("../imagens/Versao2/Fundo3.gif"); */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 90%;   
    overflow-y: scroll;
    white-space: pre-line; 
    border-top-width: 0.4vw;
    border-style: ridge;
    Border-color: white; 
}
.ftrBootom{
    background-image: url("../imagens/Versao2/FundoCima.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-color: black;
    height: 20%;
    white-space: pre-line; 
    color: white; 
    text-align: right;
    padding: 2vh;
    font-size: 2.5vh;
    flex-grow: 1;77
}
.dvPokemon {
    background-image: url("../imagens/Versao2/card.png");
    border: 10px solid gray;
    background-repeat: no-repeat;
    background-size: 100% 100%;     
    margin: 19px;
    padding: 10px;
    height: 90%;    
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: black;
    height: fit-content;
}
.imgPokemon{
    background-color: gray;
    border: 5px solid black;
    width: 150px;
    height: 150px;
}
.dvNaoEncontrado{
    color: white;
    font-size: xx-large;
}
.imgLogo{
    height: 15vh;
}
.ingPokeBall{
    width: 350px;
    height: 270px;
}

